.toggleButton {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.toggleButton span {
  color: var(--text-color);
  padding-right: 15px;
  font-weight: 500;
  font-size: 1.1rem;
}

h1,
h3 {
  color: var(--text-color);
}
