@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600;700&display=swap");

:root {
  --text-color: #f0f0f0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Finlandica", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background: linear-gradient(to right, #141e30, #243b55);
}

#root {
  max-width: 900px;
  width: 100%;
  text-align: center;
}
